<h3>渡なべ衰弱</h3>
<div class="header">
  <app-word [word]="correctWord"></app-word>
</div>
<div class="button-wrapper">
  <button class="start" (click)="start()"> START </button>
</div>
<div class="counter">
  <span class="timer"> Time: {{ count }} </span>
  <span class="error"> Error: {{ errorCount }} </span>
</div>
<div id="grid" *ngIf="words.length != 0">
  <ul>
    <li *ngFor="let word of words">
      <app-word [word]="word" [correctId]="correctWord.id" (correct)="correct()" (error)="error()"></app-word>
    </li>
  </ul>

</div>
